<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      Choose on of the following browsers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="BrowserType" value="Chrome"/>

    <!--
      Browser resolution.
    -->
    <add key="BrowserSize" value="1366x768"/>
    
    <!--
      BaseUrl.
    -->
    <add key="BaseUrl" value="https://github.com/"/>

    <!--
      Timeout for locating elements (in seconds).
    -->
    <add key="Timeout" value="10"/>

    <!--
      Timeout for loading web pages (in seconds).
    -->
    <add key="PageLoadTimeout" value="30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
